openapi: 3.1.0
info:
  title: Checkmarx One Applications Presets API
  description: Unified REST API for the Checkmarx One cloud-native application security platform, providing consolidated access to SAST, SCA, KICS, and other security scanning capabilities through a single API with project management, scan orchestration, and results retrieval.
  version: '1.0'
  contact:
    name: Checkmarx Support
    url: https://support.checkmarx.com/
  termsOfService: https://checkmarx.com/terms-of-use/
servers:
- url: https://ast.checkmarx.net/api
  description: Checkmarx One (US)
- url: https://eu.ast.checkmarx.net/api
  description: Checkmarx One (EU)
security:
- bearerAuth: []
tags:
- name: Presets
  description: Manage scan configuration presets
paths:
  /presets:
    get:
      operationId: listPresets
      summary: Checkmarx List scan presets
      description: Retrieve all available scan presets that define which queries and rules to apply during scans.
      tags:
      - Presets
      responses:
        '200':
          description: List of presets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Preset'
        '401':
          description: Unauthorized
  /presets/{presetId}:
    get:
      operationId: getPreset
      summary: Checkmarx Get preset details
      description: Retrieve details of a specific scan preset.
      tags:
      - Presets
      parameters:
      - name: presetId
        in: path
        required: true
        description: Preset unique identifier
        schema:
          type: integer
      responses:
        '200':
          description: Preset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preset'
        '401':
          description: Unauthorized
        '404':
          description: Preset not found
  /sast/presets:
    get:
      operationId: listPresets
      summary: Checkmarx List all scan presets
      description: Retrieve a list of all available scan presets.
      tags:
      - Presets
      responses:
        '200':
          description: List of presets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Preset_2'
        '401':
          description: Unauthorized
  /sast/presets/{presetId}:
    get:
      operationId: getPreset
      summary: Checkmarx Get preset details
      description: Retrieve details of a specific scan preset.
      tags:
      - Presets
      parameters:
      - name: presetId
        in: path
        required: true
        description: Preset unique identifier
        schema:
          type: integer
      responses:
        '200':
          description: Preset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preset_2'
        '401':
          description: Unauthorized
        '404':
          description: Preset not found
components:
  schemas:
    Link:
      type: object
      properties:
        rel:
          type: string
          description: Link relation type
        uri:
          type: string
          format: uri
          description: Link URI
    Preset_2:
      type: object
      properties:
        id:
          type: integer
          description: Preset unique identifier
        name:
          type: string
          description: Preset name
        ownerName:
          type: string
          description: Preset owner name
        link:
          $ref: '#/components/schemas/Link'
    Preset:
      type: object
      properties:
        id:
          type: integer
          description: Preset unique identifier
        name:
          type: string
          description: Preset name
        description:
          type: string
          description: Preset description
        custom:
          type: boolean
          description: Whether this is a custom preset
        queryIds:
          type: array
          items:
            type: string
          description: Query IDs included in this preset
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via client credentials from the Checkmarx One IAM service
externalDocs:
  description: Checkmarx One API Documentation
  url: https://checkmarx.com/resource/documents/en/34965-128036-checkmarx-one-api.html
