openapi: 3.1.0
info:
  title: Checkmarx One Applications Reports API
  description: Unified REST API for the Checkmarx One cloud-native application security platform, providing consolidated access to SAST, SCA, KICS, and other security scanning capabilities through a single API with project management, scan orchestration, and results retrieval.
  version: '1.0'
  contact:
    name: Checkmarx Support
    url: https://support.checkmarx.com/
  termsOfService: https://checkmarx.com/terms-of-use/
servers:
- url: https://ast.checkmarx.net/api
  description: Checkmarx One (US)
- url: https://eu.ast.checkmarx.net/api
  description: Checkmarx One (EU)
security:
- bearerAuth: []
tags:
- name: Reports
  description: Generate and download scan reports
paths:
  /reports/sastScan:
    post:
      operationId: createReport
      summary: Checkmarx Register a new scan report
      description: Request generation of a scan report in the specified format (PDF, XML, CSV, RTF).
      tags:
      - Reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReportRequest'
      responses:
        '202':
          description: Report generation accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportStatus'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
  /reports/sastScan/{reportId}:
    get:
      operationId: getReportById
      summary: Checkmarx Get report by ID
      description: Download a generated scan report by its ID.
      tags:
      - Reports
      parameters:
      - $ref: '#/components/parameters/reportId'
      responses:
        '200':
          description: Report content
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/xml:
              schema:
                type: string
                format: binary
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
        '404':
          description: Report not found
  /reports/sastScan/{reportId}/status:
    get:
      operationId: getReportStatus
      summary: Checkmarx Get report generation status
      description: Check the status of a report generation request.
      tags:
      - Reports
      parameters:
      - $ref: '#/components/parameters/reportId'
      responses:
        '200':
          description: Report status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportStatus'
        '401':
          description: Unauthorized
        '404':
          description: Report not found
components:
  schemas:
    ReportStatus:
      type: object
      properties:
        reportId:
          type: integer
          description: Report unique identifier
        status:
          type: object
          properties:
            id:
              type: integer
              description: Status ID
            value:
              type: string
              enum:
              - InProcess
              - Created
              - Failed
              description: Report generation status
    CreateReportRequest:
      type: object
      required:
      - reportType
      - scanId
      properties:
        reportType:
          type: string
          enum:
          - PDF
          - RTF
          - CSV
          - XML
          description: Report output format
        scanId:
          type: integer
          description: Scan ID to generate report for
  parameters:
    reportId:
      name: reportId
      in: path
      required: true
      description: Report unique identifier
      schema:
        type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via client credentials from the Checkmarx One IAM service
externalDocs:
  description: Checkmarx One API Documentation
  url: https://checkmarx.com/resource/documents/en/34965-128036-checkmarx-one-api.html
