openapi: 3.1.0
info:
  title: Checkmarx One Applications Packages API
  description: Unified REST API for the Checkmarx One cloud-native application security platform, providing consolidated access to SAST, SCA, KICS, and other security scanning capabilities through a single API with project management, scan orchestration, and results retrieval.
  version: '1.0'
  contact:
    name: Checkmarx Support
    url: https://support.checkmarx.com/
  termsOfService: https://checkmarx.com/terms-of-use/
servers:
- url: https://ast.checkmarx.net/api
  description: Checkmarx One (US)
- url: https://eu.ast.checkmarx.net/api
  description: Checkmarx One (EU)
security:
- bearerAuth: []
tags:
- name: Packages
  description: Query open source package information
paths:
  /packages/{packageType}/{packageName}/{version}:
    get:
      operationId: getPackageDetails
      summary: Checkmarx Get package details
      description: Retrieve detailed information about a specific open source package version, including known vulnerabilities.
      tags:
      - Packages
      parameters:
      - name: packageType
        in: path
        required: true
        description: Package ecosystem type
        schema:
          type: string
          enum:
          - npm
          - maven
          - nuget
          - pypi
          - rubygems
          - go
          - packagist
          - cargo
      - name: packageName
        in: path
        required: true
        description: Package name
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: Package version
        schema:
          type: string
      responses:
        '200':
          description: Package details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDetails'
        '401':
          description: Unauthorized
        '404':
          description: Package not found
components:
  schemas:
    Vulnerability:
      type: object
      properties:
        id:
          type: string
          description: Vulnerability identifier (CVE ID)
        cveName:
          type: string
          description: CVE name
        score:
          type: number
          format: float
          description: CVSS score
        severity:
          type: string
          enum:
          - High
          - Medium
          - Low
          description: Vulnerability severity
        publishDate:
          type: string
          format: date-time
          description: Vulnerability publish date
        packageId:
          type: string
          description: Affected package identifier
        description:
          type: string
          description: Vulnerability description
        recommendations:
          type: string
          description: Recommended remediation
        cwe:
          type: string
          description: CWE identifier
        isIgnored:
          type: boolean
          description: Whether the vulnerability has been marked as ignored
        references:
          type: array
          items:
            type: string
            format: uri
          description: External reference URLs
    PackageDetails:
      type: object
      properties:
        type:
          type: string
          description: Package ecosystem type
        name:
          type: string
          description: Package name
        version:
          type: string
          description: Package version
        description:
          type: string
          description: Package description
        licenses:
          type: array
          items:
            type: string
          description: Package licenses
        vulnerabilities:
          type: array
          items:
            $ref: '#/components/schemas/Vulnerability'
          description: Known vulnerabilities for this package
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via client credentials from the Checkmarx One IAM service
externalDocs:
  description: Checkmarx One API Documentation
  url: https://checkmarx.com/resource/documents/en/34965-128036-checkmarx-one-api.html
