openapi: 3.2.0
info:
  title: Checkmarx Presets API
  version: '1.0'
  contact:
    name: Checkmarx Support
    url: https://support.checkmarx.com/
  termsOfService: https://checkmarx.com/terms-of-use/
  description: 'Operations tagged Presets across 2 of this provider''s published API definitions: checkmarx-one-openapi.yml, checkmarx-sast-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ast.checkmarx.net/api
  description: Checkmarx One (US)
- url: https://eu.ast.checkmarx.net/api
  description: Checkmarx One (EU)
- url: https://{checkmarx-server}/cxrestapi
  description: Checkmarx SAST Server
  variables:
    checkmarx-server:
      default: your-checkmarx-instance.com
      description: Hostname of the Checkmarx SAST server
security:
- bearerAuth: []
tags:
- name: Presets
  description: Manage scan configuration presets
paths:
  /presets:
    get:
      operationId: listPresets
      summary: Checkmarx List scan presets
      description: Retrieve all available scan presets that define which queries and rules to apply during scans.
      tags:
      - Presets
      responses:
        '200':
          description: List of presets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Preset'
        '401':
          description: Unauthorized
    servers:
    - url: https://ast.checkmarx.net/api
      description: Checkmarx One (US)
    - url: https://eu.ast.checkmarx.net/api
      description: Checkmarx One (EU)
  /presets/{presetId}:
    get:
      operationId: getPreset
      summary: Checkmarx Get preset details
      description: Retrieve details of a specific scan preset.
      tags:
      - Presets
      parameters:
      - name: presetId
        in: path
        required: true
        description: Preset unique identifier
        schema:
          type: integer
      responses:
        '200':
          description: Preset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preset'
        '401':
          description: Unauthorized
        '404':
          description: Preset not found
    servers:
    - url: https://ast.checkmarx.net/api
      description: Checkmarx One (US)
    - url: https://eu.ast.checkmarx.net/api
      description: Checkmarx One (EU)
  /sast/presets:
    get:
      operationId: listPresets
      summary: Checkmarx List all scan presets
      description: Retrieve a list of all available scan presets.
      tags:
      - Presets
      responses:
        '200':
          description: List of presets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Preset_2'
        '401':
          description: Unauthorized
    servers:
    - url: https://{checkmarx-server}/cxrestapi
      description: Checkmarx SAST Server
      variables:
        checkmarx-server:
          default: your-checkmarx-instance.com
          description: Hostname of the Checkmarx SAST server
  /sast/presets/{presetId}:
    get:
      operationId: getPreset
      summary: Checkmarx Get preset details
      description: Retrieve details of a specific scan preset.
      tags:
      - Presets
      parameters:
      - name: presetId
        in: path
        required: true
        description: Preset unique identifier
        schema:
          type: integer
      responses:
        '200':
          description: Preset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preset_2'
        '401':
          description: Unauthorized
        '404':
          description: Preset not found
    servers:
    - url: https://{checkmarx-server}/cxrestapi
      description: Checkmarx SAST Server
      variables:
        checkmarx-server:
          default: your-checkmarx-instance.com
          description: Hostname of the Checkmarx SAST server
components:
  schemas:
    Preset:
      type: object
      properties:
        id:
          type: integer
          description: Preset unique identifier
        name:
          type: string
          description: Preset name
        description:
          type: string
          description: Preset description
        custom:
          type: boolean
          description: Whether this is a custom preset
        queryIds:
          type: array
          items:
            type: string
          description: Query IDs included in this preset
    Preset_2:
      type: object
      properties:
        id:
          type: integer
          description: Preset unique identifier
        name:
          type: string
          description: Preset name
        ownerName:
          type: string
          description: Preset owner name
        link:
          $ref: '#/components/schemas/Link'
    Link:
      type: object
      properties:
        rel:
          type: string
          description: Link relation type
        uri:
          type: string
          format: uri
          description: Link URI
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via client credentials from the Checkmarx One IAM service
x-refined-from:
- checkmarx-one-openapi.yml
- checkmarx-sast-openapi.yml
